.banner {
  color: white;
  background-image: url("../public/fancy.jpg");
  width: 100%;
  height: 50vh;
  color: white;
  text-align: center;
  font-size: 5vw;
  font-family: "Times New Roman", Times, serif;
}
.finger {
  font-weight: 900;
  padding-left: 2px;
}

.masonry {
  column-count: 4; /* 设置列数 */
  column-gap: 1em;
}

.masonry > * {
  break-inside: avoid; /* 防止项目内容断裂 */
  margin-bottom: 1em;
}
